html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  display: flex;
  align-items: center;
  place-content: center;
  height: 100vh;
}

#wrapper {
  display: flex;
  align-items: center;
  place-content: center;
  padding: 12px;
}

#game {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: space-between;
}

#game-info {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 4px 2px #c0c0c0;
  border-radius: 8px;
}

#players-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  opacity: 0.5;
}

.player.active {
  opacity: 1;
}

.player-info {
  font-weight: bold;
  font-size: 0.75rem;
  color: #444;
}

.player-bead {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #888;
  cursor: default;
}

.player.active .player-bead {
  cursor: pointer;
}

#main-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: space-between;
  width: 100%;
  height: 400px;
  justify-content: space-between;
  margin-top: 8px;
  background-color: #ccc;
  box-shadow: 0px 0px 4px 2px #c0c0c0;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.placeholder {
  display: flex;
  flex: 1 1 10px;
  box-sizing: border-box;
  border: 3px solid #aaa;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #bbb;
  background-color: #f5f5f5;
  margin: 4px;
  cursor: pointer;
}

.bead {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.placeholder .bead {
  cursor: default;
}

.real-bead {
  z-index: 2;
}

.fake-bead {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}
